/* 主颜色 */
:root{
    --zm_bangumi_color:#3a3c3d;
}
/* Loading样式 */
.bangumi_loading {
    padding: 100px 0;
  }
  
  .bangumi_loading_text {
    text-align: center;
    padding: 10px 0;
  }
  
  .bangumi_loading .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .2s ease-out;
  }
  
  .bangumi_loading .loading-anim {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    perspective: 800px;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateY(-90deg) rotateX(90deg) rotateZ(90deg) scale(0.5);
    opacity: 0;
    transition: all .2s ease-out;
  }
  
  .bangumi_loading .loading-anim .circle {
    width: 100%;
    height: 100%;
    animation: spin 5s linear infinite;
  }
  
  .bangumi_loading .loading-anim .border {
    position: absolute;
    border-radius: 50%;
  }
  
  .bangumi_loading .loading-anim .out {
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spin 2s linear reverse infinite;
  }
  
  .bangumi_loading .loading-anim .in {
    top: 18%;
    left: 18%;
    width: 64%;
    height: 64%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: spin 2s linear infinite;
  }
  
  .bangumi_loading .loading-anim .mid {
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spin 1s linear infinite;
  }
  
  .bangumi_loading .loading-anim {
    transform: translateZ(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }
  
  .bangumi_loading .loading-overlay {
    background: rgba(255, 255, 255, 0.5);
  }
  
  .bangumi_loading .dot {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:var(--zm_bangumi_color);
    animation: jitter 5s ease-in-out infinite, fade-in-out 5s linear infinite;
  }
  
  .bangumi_loading .dot:nth-child(1) {
    top: 90px;
    left: 180px;
    animation-delay: 0s;
  }
  
  .bangumi_loading .dot:nth-child(2) {
    top: 135px;
    left: 168px;
    animation-delay: 0.41667s;
  }
  
  .bangumi_loading .dot:nth-child(3) {
    top: 168px;
    left: 135px;
    animation-delay: 0.83333s;
  }
  
  .bangumi_loading .dot:nth-child(4) {
    top: 180px;
    left: 90px;
    animation-delay: 1.25s;
  }
  
  .bangumi_loading .dot:nth-child(5) {
    top: 168px;
    left: 45px;
    animation-delay: 1.66667s;
  }
  
  .bangumi_loading .dot:nth-child(6) {
    top: 135px;
    left: 12px;
    animation-delay: 2.08333s;
  }
  
  .bangumi_loading .dot:nth-child(7) {
    top: 90px;
    left: 0px;
    animation-delay: 2.5s;
  }
  
  .bangumi_loading .dot:nth-child(8) {
    top: 45px;
    left: 12px;
    animation-delay: 2.91667s;
  }
  
  .bangumi_loading .dot:nth-child(9) {
    top: 12px;
    left: 45px;
    animation-delay: 3.33333s;
  }
  
  .bangumi_loading .dot:nth-child(10) {
    top: 0px;
    left: 90px;
    animation-delay: 3.75s;
  }
  
  .bangumi_loading .dot:nth-child(11) {
    top: 12px;
    left: 135px;
    animation-delay: 4.16667s;
  }
  
  .bangumi_loading .dot:nth-child(12) {
    top: 45px;
    left: 168px;
    animation-delay: 4.58333s;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes jitter {
    0% {
      transform: scale(1, 1);
    }
  
    25% {
      transform: scale(0.7, 0.7);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    75% {
      transform: scale(1.3, 1.3);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 0.8;
    }
  
    25% {
      opacity: 0.2;
    }
  
    75% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.8;
    }
  }

/* 主窗口 */
#zm_bangumi_content{
    display: block;
    width: 100%;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}
#zm_bangumi_content .BangumiItem{
    display: block;
    float: left;
    height: 90px;
    width: 45%;
    min-width: 280px;
    overflow: hidden;
    padding: 5px;
    color:#14191e;
    white-space: nowrap;
    margin-top: 10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    margin-left: 10px;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;

}
#zm_bangumi_content .BangumiItem:hover{
    color: #14191e;
    opacity: 0.8;
    filter: saturate(150%);
    -webkit-filter: saturate(150%);
    -moz-filter: saturate(150%);
    -o-filter: saturate(150%);
    -ms-filter: saturate(150%);
}

#zm_bangumi_content a{
    color:#14191e;
    text-decoration:none !important;
    box-shadow: none;
    border:none;
}
#zm_bangumi_content a:hover{
  box-shadow: none;
  border:none;
}
#zm_bangumi_content a.BangumiUrl{
    display: block;
    height: 100%;
    width: 100%;
}
#zm_bangumi_content img.BangumiImg{
    display: block;
    float:left;
    width: 65px;
    height:80px;
    margin-right: 15px;
}
#zm_bangumi_content .BangumiText{
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 18px;
}
#zm_bangumi_content .BangumiProgress{
    position: relative;
    background-color: #f0f0f0;
    width: calc(100% - 100px);
    height: 20px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 0 1px black;
    color:white;
}
#zm_bangumi_content .ProgressText{
    position: relative;
    height: 100%;
    z-index: 10;
    text-indent: .5em;
    font-size: 16px;
    line-height: 20px;
}
#zm_bangumi_content .ProgressFG{
    position: absolute;
    bottom: 0;
    height: 20px;
    background-color:var(--zm_bangumi_color);
    z-index: 1;
    border-radius: 4px;
}

@media screen and (max-width:600px){
    #zm_bangumi_content .BangumiItem{
        float: none;
        width: 90%;
        /* min-width:300px; */
        margin-right:auto;
        margin-left: auto;
    }
}

/* 导航样式 */
#bangumi_nav{
    margin:0 auto;
    text-align: center;
}
#zm_bangumi_nav{
    
}
#zm_bangumi_nav li {
    display: inline-block;
	color: #666;
    padding: 10px;
    border-radius: 3px;
    border:1px solid rgba(160, 160, 160,0.3);
	text-decoration: none;
	margin: 0 1px;
    min-width: 10px;
    transition: background .2s linear;
    font-size: 12px;
    line-height: 12px;
    -o-user-select: none; 
    -moz-user-select: none; 
    /*firefox*/
    -webkit-user-select: none; 
    /*webkit浏*/
    -ms-user-select: none; 
    /*IE10+*/
    -khtml-user-select :none;
     /*早期的浏览器*/
    user-select: none; 
}

#zm_bangumi_nav li.current{
 background: var(--zm_bangumi_color);
}

#zm_bangumi_nav li:hover:not(.none){
    background: var(--zm_bangumi_color);
}
#zm_bangumi_nav li.none{
    border:none;
}